body{
    background-image:  url(../img/Fondo.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#container{
    width: 80%;
    margin: auto;
    background-color: white;
    border: solid black 1px;
}

/*CABEZERA*/
header{
    background-image: url(../img/cabecera.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 170px;    
    box-shadow: 0 3.5px 0 0 #cccccc; 
}
header {
    text-align: right; 
    position:relative;
    margin: 0 1px;
}
header #social{
    text-align: left; /**Sobreescribo la posición del contenido*/
    position: absolute;
    padding-left: 115px;
    bottom: 0;
}
header #social a{
    display: inline-block;
}


/**MENÚ*/
#centro nav ul { /** Todo el menú*/
    margin-top: 4px;
    font-weight: bold;
    list-style: none; /**Esto es para quitar los iconos de lista*/
    padding-left: 0;
    width: 16%;
    color: white;
    /**float: left;*/
}
#centro nav ul li{  /** Cada lista del menú*/
    background-image: url(../img/Menu-Off-.jpg);
}
#centro nav ul li:hover { /** Hover para las listas del menú*/
    color:#FFFFE1;
    background-image: url(../img/MenuSeleccionado.jpg);
}

#centro nav ul li ul{ /** El subMenú*/
    display: none; /**Esconder el submenú*/
    width: 100%;
    
}
#centro nav ul li ul li{
    color: black;
    background-image: none;
    background-color: #E9E9E9;
}

#centro nav ul li:hover ul{ /**Hover para que aparezca el subMenú*/
    display:block;
    z-index: 1;
}


#centro nav ul li ul li:hover{ /**Hover para cada línea del subMenú*/
    background-image: none;
    background-color:  #000;
    color:#F0F0F0; 
}

/**CONTENIDO*/
/**PARTE CENTRAL*/
#noticias #noticiasarriba .noticiaarriba{
    display: inline-block;
    border:solid black 1px;
}
#noticias #noticiasabajo .noticiaabajo{
    display: inline-block;
    border:solid black 1px;
}






/*PARTE DERECHA*/
#derecha #clasificaciones{
    display: flex;
}
#derecha #clasificaciones nav{
    border: solid black 1px;
    margin-left: auto;
    margin-top: 0;
 
}
#derecha #clasificaciones nav ol{
    border: solid black 1px;
    width: 20%;
}
#derecha #clasificaciones nav ol li{
    border: solid black 1px;
}
#derecha #clasificaciones nav ol li table tr td:last-child{
    border: solid black 1px;
    position: relative;
}
#derecha #clasificaciones nav ol li table tr td:first-child{
    border: solid black 1px;
}
#derecha #clasificaciones nav ol li table{
    border: solid black 1px;
}



/*FOOTER*/
footer{
    background-color: #555;
    text-align: center;
    margin: 0 1px;
}

footer img{
    background-image: url(../img/Menu-Off-.jpg);
}