ul{
   font-family: sans-serif;
   flex-direction: row;
   display: flex;
   justify-content: flex-start;
   gap: 2px;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
    background-color: rgba(123,198,199,0.8);
    padding: 10px;
    flex-grow: 1;
}
