* {
  font-family: "Courier New", Courier, monospace;
}

#main {
  background-color: gray;
}

.especial {
  color: blue;
}

h2,
h3 {
  border: 1px solid orange;

}

ul {
  color: red;
}

li li {
  color: green;
}

h3.antes {
  background-color: pink;
}

p>img {
  border: 5px solid black;
}

img {
  border: 5px solid red;
}

.antes~h3 {
  background-color: blue;
}