body {
    height: 2500px;
    background-color: beige;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.menu {
    /*Este es el div del menu*/
    width: 100%;
    text-align: left;
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    /* En este caso he puesto el menú en la parte de abajo de la ventana aunque en el HTML el menú se situe despues del título (el primer h1).
    El fixed si le afectan las propiedades de top, rigth, bottom, left o z-index
    Utiliza estas proiedades para modificar la posición del elemento. 
    Se posiciona en relación con la ventana del navegador, es decir, se mantiene fijo incluso al hacer scroll
    */

}

div {
    /*Eslo lo aplica a todos los divs*/
    text-align: justify;
    width: 95%;
    display: inline-block;
    margin: auto 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;

}

img {
    /*Se aplica a las 4 imagenes*/
    float: left;
    margin-right: 20px;
    height: 200px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

td,
tr {
    border: solid black 1px;
    padding: 10px;
}

/*Pseudo-selectores*/
td:hover {
    background-color: aquamarine;
    text-decoration: underline;
    font-size: 25px;
}

h2:hover {
    font-size: 30px;
}

a:active {
    color: red;
}

p::selection {
    /*Cada vez que selecciono un texto, se pone el fondo del texto en rojo y la letra blanca*/
    background-color: red;
    color: blue;
}

a:hover {
    font-size: 25px;
}