html {
    width: 80%;
    border: solid black 1px; /* Borde de la página html*/
    box-sizing: border-box;
    margin: 0 auto;
}

.main {
    background-color: blue;
    height: 200px;
    width: 80%;
    margin: 20px auto;
}

.bloques {
    background-color: red;
    height: 400px;
    margin: 40px auto;
    /*text-align: center;*/

}

.bloques div {
    background-color: chartreuse;
    border: solid black 1px;
    height:200px;
    width: 25%;
    margin-top:100px;
    margin: 100px auto;
    display: inline-block; /*Los contenedores se comportan como línea y son afectados por el text-align*/
    /*Para poder utilizar el margin de un elemento, debo darle un valor de ancho y alto*/
}